body {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 128px;
}

html, body {
 width: 100%;
 height: 100%;
}
html {
 display: table;
}
body {
 display: table-cell;
 vertical-align: middle;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.purple {
  background-color: purple;
}

.white {
  background-color: white;
  color: black;
}

.black {
  background-color: black;
  color: white;
}

.pink {
  background-color: pink;
}

.yellow {
  background-color: yellow;
  color: blue;
}
